        لكل الصفحة */
html[dir="rtl"] {
  direction: rtl;
  text-align: right;
}

html[dir="ltr"] {
  direction: ltr;
  text-align: left;
}

/* يمكن تخصيص عناصر معينة */
html[dir="rtl"] span,
html[dir="rtl"] h1,
html[dir="rtl"] input,
html[dir="rtl"] textarea {
  text-align: right;
}

html[dir="ltr"] span,
html[dir="ltr"] h1,
html[dir="ltr"] input,
html[dir="ltr"] textarea {
  text-align: left;
}
